@(installCount: String)

@main("Heroku Eclipse Plugin") {
	
	<div class="well">
		<div id="chart_container"></div>		
		<span class="badge badge-success">@installCount</span> installs !!! <br/>
		
	</div>
<script type="text/javascript">
	$(document).ready(function () {
				 
		 $.ajax({
	  		url: '/dailyStats',
	  		async:false,
			dataType: 'json',
	  		success: function(data) {
				console.log('------ Daily stats data -------');
				console.log(data);
				 var w = 6,
				     h = 50;
				 //data = [{"name":"1","installCount":20},{"name":"1","installCount":30},{"name":"1","installCount":40},{"name":"1","installCount":50}];
				 
				 var x = d3.scale.linear()
				     .domain([0, 1])
				     .range([0, w]);
				 
				 var y = d3.scale.linear()
				     .domain([0, 100])
				     .rangeRound([0, 120]);
				 
				var chart = d3.select("#chart_container").append("svg")
				     .attr("class", "chart")
				     .attr("width", 225)
				     .attr("height", 60);

				chart.selectAll("rect")
				    .data(data)
				  .enter().append("rect")
				    .attr("x", function(d, i) { return x(i) - .5; })
				    .attr("y", function(d) { return h - y(d.installCount) - .5; })
				    .attr("width", w)
				    .attr("height", function(d) { return y(d.installCount); });
			
				chart.append("line")
				    .attr("x1", 0)
				    .attr("x2", w * data.length)
				    .attr("y1", h - .5)
				    .attr("y2", h - .5)
				    .style("stroke", "#000");
				    
				
		  	}
		});
		
		
	});
</script>
}